terraform_service_account = ""
shared_vpc_name           = ""
subnet                    = ""
pods_range                = ""
services_range            = ""
gke_node_service_account  = ""
network_project_id        = ""
project_id                = ""
region                    = ""
master_instance_zone      = ""
replica_instance_zone     = ""
psc_address_name          = ""
gke_cluster               = ""
gke_cluster_region        = ""
