shared_vpc_name           = ""
network_project_id        = ""
project_id                = ""
region                    = ""
master_instance_zone      = ""
psc_address_name          = ""
gke_cluster               = ""
gke_cluster_region        = ""
gke_namespace             = ""
gcp_sa                    = ""